<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.or
g/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>发布</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script src="/static/uemini/jquery-1.10.2.min.js" type="text/javascript"></script>
<link href="/static/uemini/themes/default/css/umeditor.min.css" rel="stylesheet" type="text/css" /> 
<script src="/static/uemini/umeditor.min.js" type="text/javascript"></script> 
<script src="/static/uemini/umeditor.config.js" type="text/javascript"></script>

<link href="/static/img/favicon.ico" type="image/x-icon" rel="shortcut icon">
<script src="/static/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
	<div class="row-fluid">
		<div class="span5 offset3" style="background-color:#fff">
			<div class="navbar">
				<div class="navbar-inner">
					<a class="brand" href="/" title="首页"><img src="/static/img/yiyu.png" style="width:32px;"/></a>
					<ul class="nav">
						<li><a href="/xianyan" title="写感慨长文">闲言</a></li>
						<li><a href="/suiyu" title="来点碎碎念">碎语</a></li>
						<li><a href="/backyard" title="私人花园">后院</a></li>
						<li><a href="/friend-links" title="友情链接">友链</a></li>
					</ul>
					<a style="float:right;margin-top:10px;"  href="/logout">注销</a>
				</div>
			</div>
	<form action="/yanxian" method=POST id="myform">
		<input type="text" name="title" style="width:97%;height:30px;margin-left:1px;" placeholder="标题">
		
                <div style="width:99%;" id="editor" >
                </div>
         <script type="text/javascript">
         var ue = UM.getEditor('editor');
         </script>
         <textarea type="text" name="text" id="text" style="visibility:hidden"></textarea>
<script type="text/javascript">
	function postinfo(){
         document.getElementById("text").value = UM.getEditor('editor').getContentTxt();
	 document.getElementById("myform").submit(); 
	}
</script>
<button style="float:right;" onclick="postinfo()">发布</button>
</form>
</div>
</div>
</body>
</html>
